/* rappel : #id et .class */

:root {
  --color1 : white ;
  --color2 : grey;
  --color3 : indigo;
  --color_background :#2B2B2B;
}

/* Général */

body {
  color : white; 
  font-family: Verdana,sans-serif ;
  font-size : 15px;
  overflow: hidden; 
}

#menu {
  align-items: center;
  position: absolute;
  padding: 1rem;
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  box-sizing: content-box; 
  border: 0.5em solid white;
}

#logo{
  width: 100px;
}

/* Éléments graphiques */

button {
  background-color: var(--color3);
  border: white solid 2px;
  box-shadow: 10px white;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 19px;
  margin-top: 10px;
  min-height: 60px;
  min-width: 120px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  z-index: 2;
}

button:hover,
button:active {
  cursor: pointer;
  background-color: var(--color3);
  box-shadow: 2px 2px white;
  transform: translateY(5px);
}

.hidden_element {
  opacity : 0;
  pointer-events: none;
}
