@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

/* rappel : #id et .class */

:root {
  --color1 : white ;
  --color2 : #102E4A;
  --color_background : linear-gradient(to top, #A682FF 0%,#715AFF 100%);
  --shadow: #533d4a;
}

/* Général */
.hidden_element {
  display : none !important;
  pointer-events: none;
}

body {
  color: white;
  font-size : 150%;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  background: var(--color_background);
}

h2{
  color: white;
  font-size : 75px;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

li {
  list-style-type: none;
}

/*Animation*/

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

#logo2,
#logo{
	box-sizing: border-box;
	border: 2px white solid;
	border-radius: 50%;
	overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  animation: float 6s ease-in-out infinite;
}

svg{
  font-weight:bold;
  max-width:600px;
  height:100%;
  color: white;
  text-shadow:white 1px 1px, white -1px 1px, white -1px -1px, white 1px -1px; 
}

#menu_section, #param_section, #game_section, #end_section {
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  border: 1rem solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background: var(--color_background);
  padding: 2rem;
}

.pseudo-form {
  display: flex;
  flex-direction: column;  
}

#game_section {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 55vw 35vh;
  grid-column-gap: 10vh;
  grid-template-rows: auto auto;
}

#play_menu{
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;

}

#play_area {
  background-color:mediumpurple;
  color : black; 
  border: 0.5em solid white; 
}

.highlight_answer {
  font-weight: bold;
}

.selected_answer{
  font-style: italic;
}

#result_area {
  align-items: center;
  margin-top: 0.5em;
  background-color:mediumpurple;
  color : black; 
  border: 0.5em solid white; 
}

#round_compteur{
  font-size: 200%;
}

#score_section {
  grid-column: 2;
  box-sizing: border-box;
	border: 2px white solid;
	border-radius: 5%;
	overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  animation: float 6s ease-in-out infinite; 
  text-align: center;
}

#drink_distribution{
  grid-column: 2;
  box-sizing: border-box;
	border: 2px white solid;
	border-radius: 5%;
	overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}

/* Éléments graphiques */

button {
  background: var(--color3);
  border: white solid 2px;
  box-shadow: 10px white;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 19px;
  margin-top: 20px;
  min-height: 60px;
  min-width: 120px;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  z-index: 2;
  cursor: pointer;
  --duration: .44s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
  line-height: var(--font-size);
  border-radius: 24px;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: .5px;
  box-shadow: var(--shadow);
}

button:hover,
button:active {
  cursor: pointer;
  background-color: var(--color3);
  box-shadow: 2px 2px white;
  transform: translateY(5px);
}

@keyframes load {
  0% { width: 0; }
  100% { width: 68%; }
}

#logo{
  width: 100px;
}

#logo2 {
  position: absolute;
  width: 70px;
  bottom : 2vh;
  left : 2vh;
  z-index:2;
  margin: 0.2em;
}
